langchain
langchain_community
langchain-openai
langchain-groq
langchain-google-genai
python-dotenv

langgraph
langsmith
langchain_tavily
langchain-mcp-adapters
mcp
langchain-core
pymupdf
langchain-text-splitters
sentence-transformers
faiss-cpu
chromadb
ipykernel
pageindex